<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
  heap.load("3259300904");
</script>

    <title>{{ page.title }}</title>
  </head>
  <body class="h-100 d-flex flex-column bg-osborne">
    <div class="container-fluid my-auto px-5">
		<div class="row my-4">
			<div class="col-12 col-lg-8 offset-lg-2 card rounded-0 shadow-lg">
				<div class="card-header text-center bg-white">
					<div class="row">
						<div class="col-12 text-center">
							<img class="rounded-circle mb-2" src="/static/img/sam.jpg" alt="Sam Osborne" height="150">
						</div>
						<div class="col-12">
							<h1 class="display-4">{{ page.title }}</h1>
							{{ page.description | markdownify }}
						</div>
					</div>
				</div>
				<div class="card-body">
					{{ content }}
				</div>
				<div class="card-footer bg-white text-center text-muted">
					<p class="mb-1">
						<a href="/static/cv.pdf"><i class="fa fa-fw fa-file-alt"></i>Download CV (pdf)</a> | 
						<a href="/static/portfolio.pdf"><i class="fa fa-fw fa-file-image"></i>Lighting Portfolio (pdf)</a>
					</p>
					<p class="mb-1"><a href="mailto:sam@samosborne.me"><i class="fa fa-fw fa-envelope"></i>Email me: sam[at]samosborne[dot]me</a></p>
					<p class="mb-1">Or find me elsewhere:</p>
					<p>{% for social in site.data.social %}
						<a 
							{% if social.link_attrs %}
								{% for attr in social.link_attrs %}
									{{ attr.attr }}="{{ attr.value }}"
								{% endfor %}
							{% endif %}
							href="{{ social.link }}"><i class="fa-fw fa-lg {{ social.icon }}"><span class="sr-only">{{ social.title }}</span></i></a>{% endfor %}</p>
					<p><a href="https://www.thealpd.org.uk/SamOsborne"><img src="https://www.thealpd.org.uk/sites/default/files/ALPD_badge.png" width="166px" height="89px" style="margin: 10px"></a></p>
				</div>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

