---
layout: default
---

					{% if site.data.current and site.data.current != empty %}
					<h2>Currently:</h2>
					<ul class="list-unstyled ml-4">
						{% for project in site.data.current %}
							<li class="font-weight-bold">{{ project.role }} &ndash; 
								{% if project.link and project.link != empty %}<a href="{{ project.link }}">{% endif %}
								{% if project.show and project.show != empty %}<em>{{ project.show }}</em>{% endif %}
								{% if project.show and project.show != empty and project.company and project.company != empty %} | {% endif %}{{ project.company }}
								{% if project.link and project.link != empty %}</a>{% endif %}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if page.available and page.available != empty %}
						<p class="lead"><em>Available for {{ page.available | array_to_sentence_string: "and" }} roles &mdash; for digital and in-person projects</em></p>
					{% endif %}
					{% if site.data.previous and site.data.previous != empty %}
					{% if site.data.current != empty %}<hr>{% endif %}
					<h2 class="h3">Previous roles include:</h2>
					<ul class="ml-4">
						{% for project in site.data.previous %}
							<li>{{ project.role }} &ndash; {% if project.show and project.show != empty %}<em>{{ project.show }}</em> {% if project.company and project.company != empty %}|{% endif %} {% endif %}{{ project.company }}</li>
						{% endfor %}
					</ul>
					{% endif %}

